:root{
  --side-width: 1em;
  --face-width: 27.0625em;
  --face-height: 40.5em;
}

body {
  margin: 0;
}

.polaroid-showcase {
  background: linear-gradient(90deg, #fff, #eee);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* you can resize everything from the font-size value */
  font-size: 12px;
  position: relative;
}

.polaroid-showcase::before {
  content: "";
  position: absolute;
  top: -30vh;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#fff, #e4e4e4);
}

.wrapper {
  perspective: 1000px;
}

.polaroid {
  transform-style: preserve-3d;
  width: var(--face-width);
  height: var(--face-height);
  /* center the polaroid */
  transform-origin: calc(var(--face-width) / 2) calc(var(--side-width) / 2);
  position: relative;
}

.polaroid > div {
  position: absolute;
  height: var(--face-height);
}

/* positioning each side in 3d space */
.front {
  width: var(--face-width);
  background: #ccc;
  transform: translate3d(0, 0,calc(var(--side-width) / 2));
}

.image-container{
  width: 95%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
  background: red;
}

.polaroid-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  width: var(--face-width);
  background: #ccc;
  transform: rotateY(180deg) translate3d(0, 0, calc(var(--side-width) / 2));
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-container{
  margin-inline: 5%;
}

.description-container p{
  font-size: 1.5em;
  text-align: center;
}

.sideA{
    width: var(--side-width);
    background: #ccc;
    transform: rotateY(-90deg) translate3d(0, 0, calc(var(--side-width) / 2));
}

.sideB{
    width: var(--side-width);
    background: #ccc;
    transform: rotateY(90deg) translate3d(0, 0, 26.5em);
    transform-origin: bottom;
}

.polaroid .shadow{
    width: var(--face-width);
    height: var(--side-width);
    background: radial-gradient(
        rgba(0, 0, 0, 0.4),
        transparent
    );
    transform: rotateX(90deg), translate3d(0, 2.1875, -38em);
    transform-origin: bottom;
}

.front, .back, .side{
    background-size: cover;
    /* prevent default image dragging */
    pointer-events: none;
}